#landing-page-container {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	font-size: 2rem;
	color: var(--primary-text-color);
}

.description {
	font-size: 1rem;
	color: var(--primary-text-color);
}

#start-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 52px;
	width: 193px;
	border-radius: 1rem;
	border: none;
	background-color: #4d5b9e;
	color: var(--alternate-text-color);
	font-size: 1rem;
	margin-top: 29px;
	text-decoration: none;
}

#start-btn:hover {
	cursor: pointer;
}

#start-btn:active {
	background-color: #434f8a;
}
