#quiz-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 80%;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.question {
	width: 100%;
	border: none;
	margin-bottom: 1rem;
}
