#quiz-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 80%;
	justify-content: center;
	align-items: center;
	margin: auto;
	overflow: auto;
}

.question {
	width: 100%;
	border: none;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

input[type="radio"] {
	display: none;
}

section.question label {
	margin-right: 1rem;
	border: 1px solid #4d5b9e;
	border-radius: 0.5rem;
	padding: 0.3rem 0.75rem;
	color: #293264;
}

label:has(input[type="radio"]:checked) {
	background-color: #d6dbf5;
	font-weight: 700;
}

label.correct {
	border: none;
	background-color: #94d7a2;
}

label.incorrect {
	border: none;
	background-color: #f8bcbc;
}
